body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f0f4f9, #d9e2ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s;
}

.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 53%;
    width: 65%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 25px;
    padding: 10px 40px 40px;
    box-sizing: border-box;
    text-align: center;
    transition: box-shadow 0.3s;
    animation: fadeIn 1s ease-in-out;
}

.outer-container:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.inner-container {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #0b57d0;
    font-size: 16px;
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0b57d0;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    animation: fadeIn 1.5s ease-in-out;
}

a:hover {
    color:#0056b3;
    border-color: #0056b3;
    background-color: rgba(0, 123, 255, 0.1);
    transform: scale(1.05);
}

p {
    font-size: 18px;
    margin: 20px 0;
}

h1 {
    font-size: 22px;
    margin: 30px 0;
    color: #333;
}

/* Media Queries */
@media (max-width: 768px) {
    .outer-container {
        width: 90%;
        height: auto;
    }

    .inner-container {
        max-width: 100%;
    }

    a {
        width: 16%;
        text-align: center;
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}